<div class="menu-height"></div>

<div class="container-fluid">
<div class="row">
    <div class="col-xs-12">
        <section class="profile-section">
            <div class="profile-info-block">
                <md-card-title-media>
                    <div class="cover" ng-if="image != null"
                         style="background-image: url('{{image}}')"></div>
                    <div class="cover" ng-if="image == null" flex layout="row"
                         layout-align="center center">
                    </div>
                </md-card-title-media>
                <div class="cover" style="background-image: url(../image/banner.jpg)"></div>
                <h3 class="profile-name">John Doe</h3>
                <p>автор</p>
                <div class="edit-profile-button">
                    <a href="#profile.html" class="button button__vol dark">редактировать</a>
                </div>

                <!--<div class="profile-description">
                    <p>john_doe@mail.com</p>
                    <p>+375295567449</p>
                </div>-->
            </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="news-cards">
                <div class="card">
                    <div class="card-header">
                        <div class="card-image" style="background-image: url(../image/titles/title-1.jpg)">
                        </div>
                        <div class="statistic">
                            <div class="views">
                                <i class="fa fa-eye"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                            <div class="likes">
                                <i class="fa fa-heart"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="title">Название новости</h3>
                        <p class="meta-info">
                            <span class="author">Иван Иванов</span> - <span class="date">15 августа 2016</span>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                            incidunt ipsum quisquam sit voluptate. Adipisci, alias animi cumque deleniti distinctio
                            dolorum et ex itaque, perferendis quam tempora, tempore vel voluptas.</p>
                    </div>
                    <div class="card-action">
                        <a href="article.html" class="action">подробнее</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-image" style="background-image: url(../image/titles/title-2.jpg)">
                        </div>
                        <div class="statistic">
                            <div class="views">
                                <i class="fa fa-eye"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                            <div class="likes">
                                <i class="fa fa-heart"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="title">Название новости</h3>
                        <p class="meta-info">
                            <span class="author">Иван Иванов</span> - <span class="date">15 августа 2016</span>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                            incidunt ipsum quisquam sit voluptate. Adipisci, alias animi cumque deleniti distinctio
                            dolorum et ex itaque, perferendis quam tempora, tempore vel voluptas.</p>
                    </div>
                    <div class="card-action">
                        <a href="article.html" class="action">подробнее</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-image" style="background-image: url(../image/titles/title-3.jpg)">
                        </div>
                        <div class="statistic">
                            <div class="views">
                                <i class="fa fa-eye"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                            <div class="likes">
                                <i class="fa fa-heart"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="title">Название новости</h3>
                        <p class="meta-info">
                            <span class="author">Иван Иванов</span> - <span class="date">15 августа 2016</span>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                            incidunt ipsum quisquam sit voluptate. Adipisci, alias animi cumque deleniti distinctio
                            dolorum et ex itaque, perferendis quam tempora, tempore vel voluptas.</p>
                    </div>
                    <div class="card-action">
                        <a href="article.html" class="action">подробнее</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-image" style="background-image: url(../image/titles/title-4.jpg)">
                        </div>
                        <div class="statistic">
                            <div class="views">
                                <i class="fa fa-eye"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                            <div class="likes">
                                <i class="fa fa-heart"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="title">Название новости</h3>
                        <p class="meta-info">
                            <span class="author">Иван Иванов</span> - <span class="date">15 августа 2016</span>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                            incidunt ipsum quisquam sit voluptate. Adipisci, alias animi cumque deleniti distinctio
                            dolorum et ex itaque, perferendis quam tempora, tempore vel voluptas.</p>
                    </div>
                    <div class="card-action">
                        <a href="article.html" class="action">подробнее</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-image" style="background-image: url(../image/titles/title-5.jpg)">
                        </div>
                        <div class="statistic">
                            <div class="views">
                                <i class="fa fa-eye"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                            <div class="likes">
                                <i class="fa fa-heart"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="title">Название новости</h3>
                        <p class="meta-info">
                            <span class="author">Иван Иванов</span> - <span class="date">15 августа 2016</span>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                            incidunt ipsum quisquam sit voluptate. Adipisci, alias animi cumque deleniti distinctio
                            dolorum et ex itaque, perferendis quam tempora, tempore vel voluptas.</p>
                    </div>
                    <div class="card-action">
                        <a href="article.html" class="action">подробнее</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-image" style="background-image: url(../image/titles/title-6.jpg)">
                        </div>
                        <div class="statistic">
                            <div class="views">
                                <i class="fa fa-eye"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                            <div class="likes">
                                <i class="fa fa-heart"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="title">Название новости</h3>
                        <p class="meta-info">
                            <span class="author">Иван Иванов</span> - <span class="date">15 августа 2016</span>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                            incidunt ipsum quisquam sit
                            voluptate. Adipisci, alias animi cumque deleniti distinctio dolorum et ex itaque,
                            perferendis quam
                            tempora, tempore vel voluptas.</p>
                    </div>
                    <div class="card-action">
                        <a href="article.html" class="action">подробнее</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-image" style="background-image: url(../image/titles/title-1.jpg)">
                        </div>
                        <div class="statistic">
                            <div class="views">
                                <i class="fa fa-eye"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                            <div class="likes">
                                <i class="fa fa-heart"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="title">Название новости</h3>
                        <p class="meta-info">
                            <span class="author">Иван Иванов</span> - <span class="date">15 августа 2016</span>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                            incidunt ipsum quisquam sit
                            voluptate. Adipisci, alias animi cumque deleniti distinctio dolorum et ex itaque,
                            perferendis quam
                            tempora, tempore vel voluptas.</p>
                    </div>
                    <div class="card-action">
                        <a href="article.html" class="action">подробнее</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-image" style="background-image: url(../image/titles/title-2.jpg)">
                        </div>
                        <div class="statistic">
                            <div class="views">
                                <i class="fa fa-eye"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                            <div class="likes">
                                <i class="fa fa-heart"></i>
                                <div class="line"></div>
                                <span class="count">20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="title">Название новости</h3>
                        <p class="meta-info">
                            <span class="author">Иван Иванов</span> - <span class="date">15 августа 2016</span>
                        </p>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
                            incidunt ipsum quisquam sit
                            voluptate. Adipisci, alias animi cumque deleniti distinctio dolorum et ex itaque,
                            perferendis quam
                            tempora, tempore vel voluptas.</p>
                    </div>
                    <div class="card-action">
                        <a href="#article.html" class="action">подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.news-cards .card').each(function (i) {
            setTimeout(function () {
                $('.news-cards .card').eq(i).addClass('is-showing');
            }, 150 * (i + 1));
        });
    });
</script>