.nav {
    position: fixed;

    .md-toolbar-tools {
      background: #fff;
      height: 70px;
      max-height: 70px;
      justify-content: space-between;

      md-list-item {
          height: 100%;

          .md-list-item-inner {
              font-size: 16px;
          }
      }
    }

}