$light-background: #fafafa;

$black: #202020;

$text-color: rgba(0, 0, 0, .87);
$text-light-color: lighten(rgba(0, 0, 0, .87), 20);
$text-lighter-color: lighten(rgba(0, 0, 0, .87), 40);

$skewDeg: 18deg;
$magicVH: 32.4vh;
$scrollTime: 1s;