@{
    Layout = "";
}
<!DOCTYPE html>
<html ng-app="ecoZone" ng-controller="mainController">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/normalize-css/normalize.css"/>
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet"/>
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="~/lib/ngprogress/ngProgress.css"/>
        <link rel="stylesheet" href="~/css/main.min.css"/>
    </environment>
</head>
<body>
<environment names="Development,Staging,Production">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="~/lib/angular-resource/angular-resource.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/lib/ngprogress/build/ngprogress.min.js"></script>
    <script src="~/lib/angular-material/angular-material.min.js"></script>
    <script src="~/js/site.min.js"></script>
</environment>

<md-toolbar class="nav">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" hide-gt-sm ng-click="toggleSideNav()" aria-label="toggle sidenav">
            <i class="fa fa-bars"></i>
        </md-button>
        <md-list-item ng-click="close()" ui-sref="news">
            <div class="md-list-item-text" layout="column" flex>
                <h2>
                    <span>{{title}}</span>
                </h2>
            </div>
        </md-list-item>
        <md-list-item hide-xs hide-sm ng-click="close()" ui-sref="profile">
            <div class="md-list-item-text" layout="column" flex>
                <p>Профиль</p>
            </div>
        </md-list-item>
        <md-list-item hide-xs hide-sm ng-click="close()" ui-sref="news">
            <div class="md-list-item-text" layout="column" flex>
                <p>Новости</p>
            </div>
        </md-list-item>
        <md-list-item hide-xs hide-sm ng-click="close()" ui-sref="history">
            <div class="md-list-item-text" layout="column" flex>
                <p>История</p>
            </div>
        </md-list-item>
        <md-list-item hide-xs hide-sm ng-click="close()" ui-sref="about">
            <div class="md-list-item-text" layout="column" flex>
                <p>О проекте</p>
            </div>
        </md-list-item>
        <md-list-item hide-xs hide-sm ng-click="showSearchDialog($event)">
            <div class="md-list-item-text" layout="column" flex>
                <p>Поиск</p>
            </div>
        </md-list-item>
        <md-list-item hide-xs hide-sm ng-click="logOut()" ng-show="authentication.isAuth">
            <div class="md-list-item-text" layout="column" flex>
                <p>Выход</p>
            </div>
        </md-list-item>
    </div>
</md-toolbar>
<section id="main-container" layout="row" flex hide-gt-sm>
    <md-sidenav class="md-sidenav-left dl-sidenav nav" md-component-id="sideNav">
        <md-toolbar class="md-toolbar-tools">
            <h1 class="md-menu-backdrop navigation">{{title}}</h1>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <md-list-item ng-click="close()" ui-sref="profile({profileId: authentication.id})">
                    <div class="md-list-item-text" layout="column" flex>
                        <p>Профиль</p>
                    </div>
                </md-list-item>
                <md-list-item ng-click="close()" ui-sref="news">
                    <div class="md-list-item-text" layout="column" flex>
                        <p>Новости</p>
                    </div>
                </md-list-item>
                <md-list-item ng-click="close()" ui-sref="history">
                    <div class="md-list-item-text" layout="column" flex>
                        <p>История</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="close()" ng-show="authentication.isAuth" ui-sref="settings">
                    <md-icon class="fa fa-gears"></md-icon>
                    <div class="md-list-item-text" layout="column" flex>
                        <p>Настройки</p>
                    </div>
                </md-list-item>
                <md-list-item ng-click="logOut()" ng-show="authentication.isAuth">
                    <md-icon class="fa fa-sign-out"></md-icon>
                    <div class="md-list-item-text" layout="column" flex>
                        <p>Выход</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-click="close()" ui-sref="help">
                    <md-icon class="fa fa-question-circle"></md-icon>
                    <div class="md-list-item-text" layout="column" flex>
                        <p>Помощь</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</section>
<div ui-view=""></div>
</body>
</html>