<md-dialog aria-label="Изменить фотографию профиля">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Изменить фотографию профиля</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Отмена" ng-click="cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content file-upload-container" flex layout="column" layout-align="start center">
                <div class="upload-input" flex layout="column" layout-align="start center">
                    <label ng-disabled="uploader.queue.length > 0" class="md-button md-ink-ripple" for="profile-image">Выбрать
                        фотографию</label>
                    <input ng-disabled="uploader.queue.length > 0" id="profile-image" type="file" nv-file-select
                           uploader="uploader"/><br/>
                </div>
                <div class="cover preview" style="background-image: url({{imageUrl}})"></div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Отмена
            </md-button>
            <md-button ng-disabled="uploader.queue.length == 0" ng-click="answer()">
                Готово
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>